.showTasksWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 4rem;
}

.tasksInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    font-size: var(--font-medium);
    font-weight: 700;
    line-height: normal;
}


.tasksInfo .tasksCriadas .title {
    color: var(--blue);
}

.tasksInfo .tasksConcluidas .title {
    color: var(--purple);
}

.counter {
    margin-left: 0.5rem;
    color: var(--gray-200);
    padding: 2px 8px;
    background: var(--gray-400);
    border-radius: 999px;
    font-size: var(--font-small);
}

.tasksContainer {
    display: flex;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem; /* 12px */
}